@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Montserrat:wght@700&family=Mukta+Vaani:wght@300&display=swap");
.logo {
  height: 60px;
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .tituloSobreImagen, .imagenFondo .textoSobreImagen {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
  }
  .textoSobreImagen {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
  }
  .textoVideo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }
  .video {
    width: auto;
  }
}
.imagenFondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url(../assets/img/imagen_mate_fondo);
  min-width: 98%;
  height: 900px;
  background-position: center;
}
.imagenFondo .tituloSobreImagen, .imagenFondo .textoSobreImagen {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  width: 700px;
  padding-top: 30px;
}
.imagenFondo .textoSobreImagen {
  font-size: 2rem;
}

.tituloCards {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

.cards {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  align-items: center;
  justify-content: center;
}
.cards .card .card-img-top {
  height: 300px;
  width: 300px;
}
.cards .card:hover {
  transform: scale(1.03);
  transition: all 1s ease;
  background-color: rgba(0, 0, 0, 0.568627451);
}
.cards .card .vermas {
  color: #ffffff;
}

.textoVideo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .imagenFondo .tituloSobreImagen, .imagenFondo .textoSobreImagen {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
  }
  .imagenFondo .textoSobreImagen {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
  }
  .textoVideo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }
  .video {
    width: auto;
  }
}
.imagenFondoDos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url(../assets/img/mate_fondo_dos.webp);
  min-width: 98%;
  height: 1000px;
  background-size: auto;
}
.imagenFondoDos .tituloSobreImagenDos {
  color: rgba(255, 255, 255, 0.8823529412);
  font-size: 2.5rem;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}
.imagenFondoDos .textoSobreImagenDos {
  color: rgba(255, 255, 255, 0.8823529412);
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding: 25px;
}

@media screen and (max-width: 768px) {
  .imagenFondoDos .textoSobreImagenDos {
    color: rgba(255, 255, 255, 0.8823529412);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .sucursal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    font-family: "Mukta Vaani", sans-serif;
    font-size: 1.5rem;
    height: auto;
    width: auto;
  }
  .sucursal .mapa {
    width: auto;
  }
}
.sucursal h1 {
  font-family: "Montserrat", sans-serif;
}
.sucursal p {
  font-family: "Mukta Vaani", sans-serif;
  font-size: 25px;
}
.sucursal h2 {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto, 1fr, auto;
}

.galeria .col-lg-4 {
  padding: 25px;
}
.galeria img {
  width: 100%;
  height: 100%;
}
.galeria img:hover {
  border: 5px solid #ffffff;
}

/*# sourceMappingURL=estilos.css.map */
