.imagenFondoDos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url(../assets/img/mate_fondo_dos.webp);
    min-width: 98%;
    height: 1000px;
    background-size: auto;

    .tituloSobreImagenDos{
        color: #ffffffe1;
        font-size: 2.5rem;
        padding-top: 10px;
        font-family: 'Montserrat', sans-serif;
    
    
    }
    .textoSobreImagenDos{
        color: #ffffffe1;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        padding: 25px;
    
    }
}

@media screen and (max-width:768px){
    
    .imagenFondoDos .textoSobreImagenDos{
        color: #ffffffe1;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    
}