@media screen and (max-width:768px){

    .sucursal{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
        font-family: 'Mukta Vaani', sans-serif;
        font-size: 1.5rem;
        height: auto;
        width: auto;

        .mapa{
            width: auto;

        }

    }
}